.main_content {
  background-color: burlywood;
  flex: 1;
  transition: all 1s linear;
  position: relative;
}

.open {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
}

.contents {
  margin: 2rem;
}

.content {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #ffc78e;
  cursor: pointer;
  width: 100%;
}

.content:focus {
  background-color: white;
}

button {
  border: none;
}
